<%= form_with model: comment, url: path, data: { turbo: false } do |form| %>
  <% if comment.errors.any? %>
    <ul>
      <% comment.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

 <div class="form-control">
  <div class="mb-4" >
    <%= form.text_area :content, class: "form-control", placeholder: "Leave a comment here", style: "height: 100px width: 50px" %>
  </div>
</div>
  <%= form.submit %>
<% end %>